[core]
	editor = \"C:\\Users\\Mohd Sameer Qureshi\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code\" --wait
[user]
	name = MohammedSameerqureshi
	email = msqureshi2803@gmail.com
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
